SMTP_HOST=smtp.dasti.cloud
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=contacto@dasti.cloud
SMTP_PASS=TU_PASSWORD_SMTP
MAIL_FROM="DASTI Web <contacto@dasti.cloud>"
MAIL_TO=contacto@dasti.cloud
FRONTEND_ORIGIN=https://dasti.cloud
PORT=3001
